body {
    margin: 0;
    overflow: hidden; /* 스크롤바 제거 */
}

#video,
#canvas {
    position: absolute; /* 절대 위치 설정 */
    top: 0; /* 상단에 위치 */
    left: 0; /* 좌측에 위치 */
    width: 100vw; /* 전체 너비 */
    height: 100vh; /* 전체 높이 */
    object-fit: cover; /* 비율 유지하면서 커버 */
}

#canvas {
    z-index: 1; /* 캔버스를 비디오 위에 위치시키기 위한 z-index 설정 */
}
