body {
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* 비디오 위에 렌더링되도록 설정 */
}

video {
    width: 100%; /* 비디오 너비를 100%로 설정 */
    height: auto; /* 비디오 높이를 자동으로 설정 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* 비디오가 아바타 아래에 위치하도록 설정 */
    transform: scaleX(-1); /* 비디오를 좌우 반전 */
}
