body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* 배경색 설정 */
}

/* 비디오 스타일 */
video {
    border: 1px solid #000;
    max-width: 100%;
    position: absolute; /* 위치 절대 지정 */
    top: 50%; /* 화면 중앙에 위치 */
    left: 50%; /* 화면 중앙에 위치 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    z-index: 0; /* 비디오 z-index 설정 (기본값) */
}

/* 캔버스 스타일 */
canvas {
    border: 1px solid #000;
    max-width: 100%;
    position: absolute; /* 위치 절대 지정 */
    top: 50%; /* 화면 중앙에 위치 */
    left: 50%; /* 화면 중앙에 위치 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    z-index: 1; /* 캔버스가 비디오 위에 표시되도록 설정 */
}
